* {
    outline: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}
