form {
    display: flex;
    justify-content: center;
    background-color: #ededed;
    margin-top: 0.1em;
}

.center-icon-map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 16px;
}

input {
    text-align: center;
    border-style: none;
    background-color: #ededed;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
}