@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
* {
  outline: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}

a {
  color: black;
  text-decoration: none;
}

header a {
  position: absolute;
  font-size: 20px;
  left: 22px;
  top: 22px;
}

.map-input-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  margin-top: 0.1em;
}

.center-icon-map {
  padding: 0px;
  font-size: 16px;
}

input {
  text-align: center;
  border-style: none;
  background-color: #ededed;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.explication-reservation-menu {
  background-color: #F7F7F7;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 56px;
}
.explication-reservation-menu h2 {
  margin-top: 0px;
  padding-top: 42px;
}
.explication-reservation-menu h3 {
  font-weight: lighter;
}

.margin-fonctionnement {
  margin-left: 14px;
  margin-top: 46px;
}

.fonctionnement-1, .fonctionnement-2, .fonctionnement-3 {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  border-radius: 24px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
  margin: 24px 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
.fonctionnement-1:hover, .fonctionnement-2:hover, .fonctionnement-3:hover {
  background-color: #F7F1FF;
}
.fonctionnement-1:hover .position-icon-fontawesome, .fonctionnement-2:hover .position-icon-fontawesome, .fonctionnement-3:hover .position-icon-fontawesome {
  color: #9356DC;
}

.rounded-number {
  border-radius: 50%;
  background-color: #A271E0;
  color: white;
  padding: 2px 7px;
  position: absolute;
  left: -11px;
  bottom: 9px;
}

.position-icon-fontawesome {
  position: absolute;
  left: 38px;
  bottom: 3px;
  color: #C6C6C6;
  font-size: 22px;
}

article {
  background-color: #F7F7F7;
  padding-bottom: 50px;
  padding-top: 50px;
}
article h2 {
  margin-left: 14px;
}

.cards-restaurant {
  margin: 20px 20px;
  height: 252px;
  border-radius: 15px;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
}
.cards-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 172px;
  border-radius: 15px 15px 0px 0px;
}

.text-cards-restaurant {
  display: flex;
  justify-content: space-between;
}

.bold-p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 16px;
  margin-left: 14px;
  margin-bottom: 0px;
}

.margin-text-card {
  font-size: 18px;
  margin-left: 14px;
  margin-top: 4px;
}

.p-nouveau {
  background-color: #99E2D0;
  color: #4CB27F;
  padding: 10px 16px;
  border-radius: 4px;
  position: absolute;
  bottom: 179px;
  right: 16px;
}

.icon-card-heart {
  position: absolute;
  right: 26px;
  bottom: -2px;
  font-size: 26px;
}

.font-h2-francaise {
  font-family: "Shrikhand", "sans-serif";
}

.card-generale-main {
  background-color: #F7F7F7;
  position: absolute;
  top: 271px;
  border-radius: 46px 46px 0px 0px;
  width: 100%;
  padding-top: 16px;
}

.card-primary {
  background-color: #F7F7F7;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
.card-primary h3 {
  font-weight: lighter;
}

.border-title-menu {
  padding-bottom: 4px;
  border-bottom: #99E2D0 solid 4px;
  width: 46px;
}

.cards-menu {
  background-color: white;
  margin-bottom: 16px;
  border-radius: 16px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.cards-menu h3 {
  font-weight: 600;
  margin: 0px;
  padding-bottom: 4px;
  padding-top: 12px;
  padding-left: 8px;
}

.green-box {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #99E2D0;
  width: 70px;
  height: 100%;
  border-radius: 0px 16px 16px 0px;
  opacity: 0;
  transform-origin: right;
}
.green-box i {
  display: flex;
  position: relative;
  top: 22px;
  font-size: 24px;
  justify-content: center;
  color: white;
}

.flex-plat-prix {
  display: flex;
  justify-content: space-between;
}
.flex-plat-prix p {
  margin: 0px;
  padding-bottom: 12px;
  padding-left: 8px;
  font-size: 15px;
}

.p-prix {
  padding-right: 22px;
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: white;
}
footer p {
  margin: 0px;
}

.font-ohmyfood {
  font-family: "Shrikhand", "sans-serif";
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 20px;
}

.p-footer {
  margin-left: 20px;
  padding-bottom: 8px;
}

.icon-footer {
  font-size: 14px;
}

.contact {
  padding-bottom: 30px;
}

#lien-contact {
  color: white;
}

.button-primary {
  border-style: none;
  padding: 16px 28px;
  border-radius: 23px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 16px;
}
.button-primary:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.display-flex-commander {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 76px;
  background-color: #F6F6F6;
}

.button-commander {
  padding: 16px 58px;
}

.img-francaise {
  object-fit: cover;
  width: 100%;
  height: 256px;
}

.h1-main-heart {
  display: flex;
  justify-content: space-between;
}
.h1-main-heart h1 {
  padding-left: 16px;
  font-weight: lighter;
}
.h1-main-heart p {
  position: absolute;
  right: 36px;
  top: 10px;
}
.h1-main-heart h1, .h1-main-heart p {
  font-size: 28px;
}

@keyframes progress-green-box {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes check-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes glissement-text {
  0% {
    padding-right: 22px;
  }
  100% {
    padding-right: 84px;
  }
}
@keyframes glissement-ellipsis {
  0% {
    width: 300px;
  }
  40% {
    width: 260px;
  }
  80% {
    width: 230px;
  }
  100% {
    width: 200px;
  }
}
.cards-menu:hover .p-prix {
  animation: glissement-text 0.3s linear forwards;
  animation-play-state: running;
}
.cards-menu:hover .green-box {
  opacity: 1;
  animation: progress-green-box 0.4s linear forwards;
}
.cards-menu:hover .green-box i {
  animation: check-rotation 0.4s linear forwards;
}
.cards-menu:hover .text-ellipsis {
  animation: glissement-ellipsis 0.4s linear forwards;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

@keyframes card-animation {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(-10%);
    opacity: 1;
  }
}
.cards-entree-animation-1 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
}

.cards-entree-animation-2 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.4s;
}

.cards-entree-animation-3 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.8s;
}

.cards-entree-animation-4 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 1.2s;
}

.cards-plat-animation-1 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 1.6s;
}

.cards-plat-animation-2 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 2s;
}

.cards-plat-animation-3 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 2.4s;
}

.cards-dessert-animation-1 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 2.8s;
}

.cards-dessert-animation-2 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 3.2s;
}

.cards-dessert-animation-3 {
  animation: card-animation 1s ease-in-out forwards;
  opacity: 0;
  animation-delay: 3.6s;
}

@keyframes animation-heart {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}
.icon-heart-animation {
  position: absolute;
  right: 26px;
  bottom: -2px;
  font-size: 26px;
  opacity: 0;
}
.icon-heart-animation:hover {
  animation: animation-heart 0.5s ease-in-out forwards;
  opacity: 1;
  color: #FF79DA;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-heart-animation-menus {
  opacity: 0;
}
.icon-heart-animation-menus:hover {
  animation: animation-heart 0.5s ease-in-out forwards;
  opacity: 1;
  color: #FF79DA;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes circle-ohmyfood-scale {
  0% {
    transform: scale(0);
    color: #9356DC;
  }
  50% {
    transform: scale(2.5);
    color: #FF79DA;
  }
  75% {
    transform: scale(2.5);
    color: #9356DC;
  }
  80% {
    opacity: 1;
    color: #FF79DA;
  }
  100% {
    opacity: 0;
    color: #9356DC;
  }
}
@keyframes visibility-hid {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
body {
  animation: visibility-hid 4.5s linear;
}

#visible {
  visibility: visible;
}

.loader-ohmyfood {
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.letter-ohmyfood {
  font-family: "Shrikhand", "Helvetica", "sans-serif";
  font-size: 16px;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 100%;
  animation: circle-ohmyfood-scale 2s ease-in-out both;
  animation-iteration-count: 2;
}
.letter-ohmyfood-1 {
  animation-delay: 0.1s;
}
.letter-ohmyfood-2 {
  animation-delay: 0.3s;
}
.letter-ohmyfood-3 {
  animation-delay: 0.4s;
  margin-left: 8px;
}
.letter-ohmyfood-4 {
  animation-delay: 0.5s;
  margin-left: 8px;
}
.letter-ohmyfood-5 {
  animation-delay: 0.6s;
}
.letter-ohmyfood-6 {
  animation-delay: 0.7s;
}
.letter-ohmyfood-7 {
  animation-delay: 0.8s;
}
.letter-ohmyfood-8 {
  animation-delay: 0.9s;
}

/*# sourceMappingURL=style.css.map */
