@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
* {
  outline: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}

a {
  color: black;
  text-decoration: none;
}

header a {
  position: absolute;
  font-size: 20px;
  left: 22px;
  top: 22px;
}

.map-input-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  margin-top: 0.1em;
}

.center-icon-map {
  padding: 0px;
  font-size: 16px;
}

input {
  text-align: center;
  border-style: none;
  background-color: #ededed;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.explication-reservation-menu {
  background-color: #F7F7F7;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 56px;
}
.explication-reservation-menu h2 {
  margin-top: 0px;
  padding-top: 42px;
}
.explication-reservation-menu h3 {
  font-weight: lighter;
}

.margin-fonctionnement {
  margin-left: 14px;
  margin-top: 46px;
}

.fonctionnement-1, .fonctionnement-2, .fonctionnement-3 {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  border-radius: 24px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
  margin: 24px 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
.fonctionnement-1:hover, .fonctionnement-2:hover, .fonctionnement-3:hover {
  background-color: #F7F1FF;
}
.fonctionnement-1:hover .position-icon-fontawesome, .fonctionnement-2:hover .position-icon-fontawesome, .fonctionnement-3:hover .position-icon-fontawesome {
  color: #9356DC;
}

.rounded-number {
  border-radius: 50%;
  background-color: #A271E0;
  color: white;
  padding: 2px 7px;
  position: absolute;
  left: -11px;
  bottom: 9px;
}

.position-icon-fontawesome {
  position: absolute;
  left: 38px;
  bottom: 3px;
  color: #C6C6C6;
  font-size: 22px;
}

article {
  background-color: #F7F7F7;
  padding-bottom: 50px;
  padding-top: 50px;
}
article h2 {
  margin-left: 14px;
}

.cards-restaurant {
  margin: 20px 20px;
  height: 252px;
  border-radius: 15px;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
}
.cards-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 172px;
  border-radius: 15px 15px 0px 0px;
}

.text-cards-restaurant {
  display: flex;
  justify-content: space-between;
}

.bold-p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 16px;
  margin-left: 14px;
  margin-bottom: 0px;
}

.margin-text-card {
  font-size: 18px;
  margin-left: 14px;
  margin-top: 4px;
}

.p-nouveau {
  background-color: #99E2D0;
  color: #4CB27F;
  padding: 10px 16px;
  border-radius: 4px;
  position: absolute;
  bottom: 179px;
  right: 16px;
}

.icon-card-heart {
  position: absolute;
  right: 26px;
  bottom: -2px;
  font-size: 26px;
}

.font-h2-francaise {
  font-family: "Shrikhand", "sans-serif";
}

.card-generale-main {
  background-color: #F7F7F7;
  position: absolute;
  top: 271px;
  border-radius: 46px 46px 0px 0px;
  width: 100%;
  padding-top: 16px;
}

.card-primary {
  background-color: #F7F7F7;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
.card-primary h3 {
  font-weight: lighter;
}

.border-title-menu {
  padding-bottom: 4px;
  border-bottom: #99E2D0 solid 4px;
  width: 46px;
}

.cards-menu {
  background-color: white;
  margin-bottom: 16px;
  border-radius: 16px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.cards-menu h3 {
  font-weight: 600;
  margin: 0px;
  padding-bottom: 4px;
  padding-top: 12px;
  padding-left: 8px;
}

.green-box {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #99E2D0;
  width: 70px;
  height: 100%;
  border-radius: 0px 16px 16px 0px;
  opacity: 0;
  transform-origin: right;
}
.green-box i {
  display: flex;
  position: relative;
  top: 22px;
  font-size: 24px;
  justify-content: center;
  color: white;
}

.flex-plat-prix {
  display: flex;
  justify-content: space-between;
}
.flex-plat-prix p {
  margin: 0px;
  padding-bottom: 12px;
  padding-left: 8px;
  font-size: 15px;
}

.p-prix {
  padding-right: 22px;
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: white;
}
footer p {
  margin: 0px;
}

.font-ohmyfood {
  font-family: "Shrikhand", "sans-serif";
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 20px;
}

.p-footer {
  margin-left: 20px;
  padding-bottom: 8px;
}

.icon-footer {
  font-size: 14px;
}

.contact {
  padding-bottom: 30px;
}

.button-primary {
  border-style: none;
  padding: 16px 28px;
  border-radius: 23px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 16px;
}
.button-primary:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.display-flex-commander {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 76px;
  background-color: #F6F6F6;
}

.button-commander {
  padding: 16px 58px;
}

.img-francaise {
  object-fit: cover;
  width: 100%;
  height: 256px;
}

.h1-main-heart {
  display: flex;
  justify-content: space-between;
}
.h1-main-heart h1 {
  padding-left: 16px;
  font-weight: lighter;
}
.h1-main-heart p {
  position: absolute;
  right: 36px;
  top: 10px;
}
.h1-main-heart h1, .h1-main-heart p {
  font-size: 28px;
}

@keyframes progress-green-box {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes check-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes glissement-text {
  0% {
    padding-right: 22px;
  }
  100% {
    padding-right: 84px;
  }
}
@keyframes change-text {
  0% {
    content: "umes";
  }
  20% {
    content: "ume";
  }
  50% {
    content: "um";
  }
  70% {
    content: "u";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-croustillant {
  0% {
    content: "illant";
  }
  20% {
    content: "illan";
  }
  50% {
    content: "illa";
  }
  70% {
    content: "l";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-provence {
  0% {
    content: "vence";
  }
  20% {
    content: "venc";
  }
  50% {
    content: "ven";
  }
  70% {
    content: "ve";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-caviar {
  0% {
    content: "it de caviar";
  }
  20% {
    content: "it de cav";
  }
  50% {
    content: "it de";
  }
  70% {
    content: "it";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-ribambelle {
  0% {
    content: "belle de légu...";
  }
  20% {
    content: "belle de";
  }
  50% {
    content: "belle";
  }
  70% {
    content: "be";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-panais {
  0% {
    content: "e de panais";
  }
  20% {
    content: "e de pa";
  }
  50% {
    content: "e de";
  }
  70% {
    content: "e";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-exception {
  0% {
    content: "xception";
  }
  20% {
    content: "xcept";
  }
  50% {
    content: "xce";
  }
  70% {
    content: "x";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-madagascar {
  0% {
    content: "adagascar";
  }
  20% {
    content: "adaga";
  }
  50% {
    content: "ada";
  }
  70% {
    content: "a";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-truffe {
  0% {
    content: "uffe noire";
  }
  20% {
    content: "uffe n";
  }
  50% {
    content: "uff";
  }
  70% {
    content: "u";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-truffe-enchante {
  0% {
    content: "e à la truffe";
  }
  20% {
    content: "e à la tr";
  }
  50% {
    content: "e à l";
  }
  70% {
    content: "e";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-jacques {
  0% {
    content: "acques";
  }
  20% {
    content: "acqu";
  }
  50% {
    content: "acq";
  }
  70% {
    content: "ac";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-citron {
  0% {
    content: "citron";
  }
  20% {
    content: "citr";
  }
  50% {
    content: "cit";
  }
  70% {
    content: "c";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-guerande {
  0% {
    content: "de Guéran";
  }
  20% {
    content: "de Guéra";
  }
  50% {
    content: "de Gu";
  }
  70% {
    content: "de";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-puree-panais {
  0% {
    content: "de panais";
  }
  20% {
    content: "de pan";
  }
  50% {
    content: "de pa";
  }
  70% {
    content: "de";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-terre {
  0% {
    content: "de terre";
  }
  20% {
    content: "de ter";
  }
  50% {
    content: "de t";
  }
  70% {
    content: "d";
  }
  100% {
    content: "...";
  }
}
@keyframes change-text-gnocchis {
  0% {
    content: "aux légumes";
  }
  20% {
    content: "aux légu";
  }
  50% {
    content: "aux l";
  }
  70% {
    content: "au";
  }
  100% {
    content: "...";
  }
}
.cards-menu:hover .p-prix {
  animation: glissement-text 0.3s linear forwards;
  animation-play-state: running;
}
.cards-menu:hover .green-box {
  opacity: 1;
  animation: progress-green-box 0.3s linear forwards;
}
.cards-menu:hover .green-box i {
  animation: check-rotation 0.3s linear forwards;
}
.cards-menu:hover .change-content::before {
  display: none;
}
.cards-menu:hover .change-content::after {
  content: "...";
  animation: change-text 0.3s linear forwards;
}
.cards-menu:hover .change-content-croustillant::before {
  display: none;
}
.cards-menu:hover .change-content-croustillant::after {
  content: "...";
  animation: change-text-croustillant 0.3s linear forwards;
}
.cards-menu:hover .change-content-provence::before {
  display: none;
}
.cards-menu:hover .change-content-provence::after {
  content: "...";
  animation: change-text-provence 0.3s linear forwards;
}
.cards-menu:hover .change-content-caviar::before {
  display: none;
}
.cards-menu:hover .change-content-caviar::after {
  content: "...";
  animation: change-text-caviar 0.3s linear forwards;
}
.cards-menu:hover .change-content-ribambelle::before {
  display: none;
}
.cards-menu:hover .change-content-ribambelle::after {
  content: "...";
  animation: change-text-ribambelle 0.3s linear forwards;
}
.cards-menu:hover .change-content-panais::before {
  display: none;
}
.cards-menu:hover .change-content-panais::after {
  content: "...";
  animation: change-text-panais 0.3s linear forwards;
}
.cards-menu:hover .change-content-exception::before {
  display: none;
}
.cards-menu:hover .change-content-exception::after {
  content: "...";
  animation: change-text-exception 0.3s linear forwards;
}
.cards-menu:hover .change-content-madagascar::before {
  display: none;
}
.cards-menu:hover .change-content-madagascar::after {
  content: "...";
  animation: change-text-madagascar 0.3s linear forwards;
}
.cards-menu:hover .change-content-truffe::before {
  display: none;
}
.cards-menu:hover .change-content-truffe::after {
  content: "...";
  animation: change-text-truffe 0.3s linear forwards;
}
.cards-menu:hover .change-content-truffe-enchante::before {
  display: none;
}
.cards-menu:hover .change-content-truffe-enchante::after {
  content: "...";
  animation: change-text-truffe-enchante 0.3s linear forwards;
}
.cards-menu:hover .change-content-jacques::before {
  display: none;
}
.cards-menu:hover .change-content-jacques::after {
  content: "...";
  animation: change-text-jacques 0.3s linear forwards;
}
.cards-menu:hover .change-content-citron::before {
  display: none;
}
.cards-menu:hover .change-content-citron::after {
  content: "...";
  animation: change-text-citron 0.3s linear forwards;
}
.cards-menu:hover .change-content-guerande::before {
  display: none;
}
.cards-menu:hover .change-content-guerande::after {
  content: "...";
  animation: change-text-guerande 0.3s linear forwards;
}
.cards-menu:hover .change-content-puree-panais::before {
  display: none;
}
.cards-menu:hover .change-content-puree-panais::after {
  content: "...";
  animation: change-text-puree-panais 0.3s linear forwards;
}
.cards-menu:hover .change-content-terre::before {
  display: none;
}
.cards-menu:hover .change-content-terre::after {
  content: "...";
  animation: change-text-terre 0.3s linear forwards;
}
.cards-menu:hover .change-content-gnocchis::before {
  display: none;
}
.cards-menu:hover .change-content-gnocchis::after {
  content: "...";
  animation: change-text-gnocchis 0.3s linear forwards;
}

.change-content::before {
  content: "umes";
}

.change-content-croustillant::before {
  content: "illant";
}

.change-content-provence::before {
  content: "vence";
}

.change-content-caviar::before {
  content: "it de caviar";
}

.change-content-ribambelle::before {
  content: "belle de légu...";
}

.change-content-panais::before {
  content: "e de panais";
}

.change-content-exception::before {
  content: "xception";
}

.change-content-madagascar::before {
  content: "adagascar";
}

.change-content-truffe::before {
  content: "uffe noire";
}

.change-content-truffe-enchante::before {
  content: "e à la truffe";
}

.change-content-jacques::before {
  content: "acques";
}

.change-content-citron::before {
  content: "citron";
}

.change-content-guerande::before {
  content: "de Guérande";
}

.change-content-puree-panais::before {
  content: "de panais";
}

.change-content-terre::before {
  content: "de terre";
}

.change-content-gnocchis::before {
  content: "aux légumes";
}

/*# sourceMappingURL=style.css.map */
