@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
* {
  outline: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}

.map-input-localisation {
  display: flex;
  justify-content: center;
  background-color: #ededed;
  margin-top: 0.1em;
}

.center-icon-map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: 16px;
}

input {
  text-align: center;
  border-style: none;
  background-color: #ededed;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.explication-reservation-menu {
  background-color: #F7F7F7;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 56px;
}
.explication-reservation-menu h2 {
  margin-top: 0px;
  padding-top: 42px;
}
.explication-reservation-menu h3 {
  font-weight: lighter;
}

.margin-fonctionnement {
  margin-left: 14px;
  margin-top: 46px;
}

.menu-1 {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  border-radius: 24px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
  margin: 24px 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}

.menu-1:hover {
  background-color: #F7F1FF;
}
.menu-1:hover .position-icon-fontawesome {
  color: #9356DC;
}

.menu-2 {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  border-radius: 24px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 24px 20px;
  position: relative;
}

.menu-2:hover {
  background-color: #F7F1FF;
}
.menu-2:hover .position-icon-fontawesome {
  color: #9356DC;
}

.menu-3 {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  border-radius: 24px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 24px 20px;
  position: relative;
}

.menu-3:hover {
  background-color: #F7F1FF;
}
.menu-3:hover .position-icon-fontawesome {
  color: #9356DC;
}

.rounded-number {
  border-radius: 50%;
  background-color: #A271E0;
  color: white;
  padding: 2px 7px;
  position: absolute;
  left: -11px;
  bottom: 9px;
}

.position-icon-fontawesome {
  position: absolute;
  left: 38px;
  bottom: 3px;
  color: #C6C6C6;
  font-size: 22px;
}

article {
  background-color: #F7F7F7;
  padding-bottom: 50px;
  padding-top: 50px;
}
article h2 {
  margin-left: 14px;
}

.cards-restaurant {
  margin: 20px 20px;
  height: 252px;
  border-radius: 15px;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
}
.cards-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 172px;
  border-radius: 15px 15px 0px 0px;
}

.text-cards-restaurant {
  display: flex;
  justify-content: space-between;
}

.bold-p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 16px;
  margin-left: 14px;
  margin-bottom: 0px;
}

.margin-text-card {
  font-size: 18px;
  margin-left: 14px;
  margin-top: 4px;
}

.p-nouveau {
  background-color: #99E2D0;
  color: #4CB27F;
  padding: 10px 16px;
  border-radius: 4px;
  position: absolute;
  bottom: 179px;
  right: 16px;
}

.icon-card-heart {
  position: absolute;
  right: 26px;
  bottom: -2px;
  font-size: 26px;
}

footer {
  background-color: #353535;
  color: white;
}
footer p {
  margin: 0px;
}

.font-ohmyfood {
  font-family: "Shrikhand", "sans-serif";
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 20px;
}

.p-footer {
  margin-left: 20px;
  padding-bottom: 8px;
}

.icon-footer {
  font-size: 14px;
}

.contact {
  padding-bottom: 30px;
}

.button-primary {
  border-style: none;
  padding: 16px 28px;
  border-radius: 23px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 16px;
}

.img-francaise {
  object-fit: cover;
  width: 100%;
  height: 256px;
}

.font-h2-francaise {
  font-family: "Shrikhand", "sans-serif";
}

.card-generale {
  background-color: #FFFFFF;
  position: absolute;
  top: 204px;
  border-radius: 46px 46px 0px 0px;
  width: 100%;
  padding-top: 16px;
}

/*# sourceMappingURL=style.css.map */
