.font-h2-francaise {
    font-family: "Shrikhand", "sans-serif";
}

.card-generale-main {
    background-color: #F6F6F6;
    position: absolute;
    top: 204px;
    border-radius: 46px 46px 0px 0px;
    width: 100%;
    padding-top: 16px;
}

.card-generale-entree-francaise {
    background-color: #F6F6F6;
    padding-top: 40px;
    padding-left: 16px;

    h3 {
        font-weight: lighter;
    }
}

#no-margin-bottom {
    margin-bottom: 0px;
}

.card-generale-plat-francaise {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-left: 16px;

    h3 {
        font-weight: lighter;
    }
}

.cards-menu-francaise {
    background-color: white;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);

    h3 {
        font-weight: 600;
        margin: 0px;
        padding-bottom: 4px;
        padding-top: 12px;
        padding-left: 8px;
    }
}

.flex-plat-prix {
    display: flex;
    justify-content: space-between;

    p {
        margin: 0px;
        padding-bottom: 12px;
        padding-left: 8px;
    }
}

.p-prix {
    padding-right: 22px;
}

