// VARIABLES

$pink: #FF79DA;
$purple: #9356DC;

// MIXINS 

@mixin button-responsive() {
    .explication-reservation-menu {
        background-color: transparent;
    }
    .button-primary-responsive {
        margin: 0px;
        position: absolute;
        left: 256px;
        top: 1px;
        box-shadow: none;
        border-radius: 0px 16px 16px 0px;
        padding: 18px 10px;
        font-size: 14px;

        &:hover {
           background: linear-gradient(lighten($pink, 5%), lighten($purple, 5%));
           box-shadow: none;
        }
    }
}

// CSS

.button-primary {
    border-style: none;
    padding: 16px 28px;
    border-radius: 23px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    background: linear-gradient($pink, $purple);
    margin-top: 16px;

    &:hover {
        background: linear-gradient(lighten($pink, 5%), lighten($purple, 5%));
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    }
}

.display-flex-commander {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 76px;
    background-color: #F6F6F6;
}

.button-commander {
    padding: 16px 58px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    @include button-responsive();
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    
    @include button-responsive();
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    
    @include button-responsive();
}