footer {
    background-color: #353535;
    color: white;

    p {
        margin: 0px;
    }
}

.font-ohmyfood {
    font-family: "Shrikhand", "sans-serif";
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 20px;
}

.p-footer {
    margin-left: 20px;
    padding-bottom: 8px;
}

.icon-footer {
    font-size: 14px;
}

.contact {
    padding-bottom: 30px;
}

#lien-contact {
    color: white;
}