// VARIABLES 

$pink: #FF79DA;
$purple: #9356DC;

// MIXINS 

@mixin form-responsive() {
    form {
        display: flex;
        height: 20px;
        margin-top: 30px;
        position: relative;
    }

    .responsive-form-titres {
        display: block;
        margin-left: 16px;
    }

    .responsive-titres {
        display: none;
    }

    .map-input-localisation {
        height: 52px;
        width: 300px;
        margin-left: 16px;
        justify-content: left;
        border-radius: 16px 0px 0px 16px;

        i {
            background: linear-gradient($purple, $pink);
            color: white;
            height: 52px;
            width: 52px;
            line-height: 52px;
            text-align: center;
            border-radius: 16px 0px 0px 16px;
        }
    }
}

// CSS

.map-input-localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    margin-top: 0.1em;
}

.center-icon-map {
    padding: 0px;
    font-size: 16px;
}

input {
    text-align: center;
    border-style: none;
    background-color: #ededed;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
}

.explication-reservation-menu {
    background-color: #F7F7F7;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 56px;

    h2 {
       margin-top: 0px;
       padding-top: 42px;
    }

    h3 {
       font-weight: lighter;
    }
}

.responsive-form-titres {
    display: none;
}

// RESPONSIVE 

// TABLETTE

@media screen and (min-width: 426px) and (max-width: 768px) {

    @include form-responsive();
} 

// DESKTOP

@media screen and (min-width: 769px) and (max-width: 1440px) {

    @include form-responsive();
}

// GRAND ECRAN 

@media screen and (min-width: 1441px) and (max-width: 2560px) {

    @include form-responsive();
}