// MIXINS

@mixin logo-responsive() {
    .header-ohmyfood-responsive {
        justify-content: left;

        svg {
            margin-left: 58px;
        }
    }
}

header {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2);
}

// PAGES MENU 

header a {
    position: absolute;
    font-size: 20px;
    left: 22px;
    top: 22px;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {

    @include logo-responsive();
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {

    @include logo-responsive();
}
