$pink: #FF79DA;
$purple: #9356DC;

@keyframes circle-ohmyfood-scale {
    0% {
        transform: scale(0);
        color: $purple;
    }
    50% {
        transform: scale(2.5);
        color: $pink;
    }
    75% {
        transform: scale(2.5);
        color: $purple;
    }
    80% {
        opacity: 1;
        color: $pink;
    }
    100% {
        opacity: 0;
        color: $purple;
    }
}

@keyframes visibility-hid {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

body {
    animation: visibility-hid 4.5s linear;
}

#visible {
    visibility: visible;
}

.loader-ohmyfood {
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.letter-ohmyfood {
    font-family: "Shrikhand", "Helvetica", "sans-serif";
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 100%;
    animation: circle-ohmyfood-scale 2s ease-in-out both;
    animation-iteration-count: 2;

    &-1 {
        animation-delay: 0.1s;
    }

    &-2 {
        animation-delay: 0.3s;
    }
    &-3 {
        animation-delay: 0.4s;
        margin-left: 8px;
    }
    &-4 {
        animation-delay: 0.5s;
        margin-left: 8px;
    }
    &-5 {
        animation-delay: 0.6s;
    }
    &-6 {
        animation-delay: 0.7s;
    }
    &-7 {
        animation-delay: 0.8s;
    }
    &-8 {
        animation-delay: 0.9s;
    }
}
